:root {
    --raha-gold: #f5c46b;
    --raha-orange: #e66a3c;
    --raha-main-bg: #0d0f17;
    --card-bg: #352a3a;
    --text-primary: #f0f0f0;
    --secondary-primary: #b3b3b3;
    --glass-bg: rgba(20, 20, 20, 0.85);
    --transition: all 0.3s ease;


}